<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme ">

        <h1 class="text-white text-center">About Us</h1>

        <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi placeat accusantium sapiente voluptatum,
                excepturi aliquam. Et, natus maxime distinctio molestias autem doloribus placeat ex ratione atque totam
                ullam quidem quasi?
                Doloribus quae quis, reiciendis iusto dolorem magnam ea optio sapiente? Enim expedita numquam itaque
                molestias? At repellendus maiores veniam voluptatem adipisci rem odit omnis. Necessitatibus libero
                voluptatibus eos facere expedita!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi placeat accusantium sapiente voluptatum,
                excepturi aliquam. Et, natus maxime distinctio molestias autem doloribus placeat ex ratione atque totam
                ullam quidem quasi?
                Doloribus quae quis, reiciendis iusto dolorem magnam ea optio sapiente? Enim expedita numquam itaque
                molestias? At repellendus maiores veniam voluptatem adipisci rem odit omnis. Necessitatibus libero
                voluptatibus eos facere expedita!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi placeat accusantium sapiente voluptatum,
                excepturi aliquam. Et, natus maxime distinctio molestias autem doloribus placeat ex ratione atque totam
                ullam quidem quasi?
                Doloribus quae quis, reiciendis iusto dolorem magnam ea optio sapiente? Enim expedita numquam itaque
                molestias? At repellendus maiores veniam voluptatem adipisci rem odit omnis. Necessitatibus libero
                voluptatibus eos facere expedita!</p>
            <div class="text-center">
                <button class="btn btn-info btn-sm-4 btn-theme">Back to home</button>
            </div>
        </div>
    </div>
</section>