<section class="container">
    <div class="row">
        <div class="col-md-9">
            <article class="card shadow-effects">
                <img src="https://images.pexels.com/photos/1081685/pexels-photo-1081685.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                    alt="" class="card-img-top img-fluid">

                <div class="card-body mt-4 ">
                    <small class="bg-light text-danger text-center">Design</small>
                    <small class="bg-light text-success text-center ms-2">Featured</small>
                    <small class="bg-light text-info text-center ms-2">Views: 100,125</small>
                    <small class="bg-light text-warning text-center ms-2">Last updated sep 20, 2023</small>

                    <h1 class="mt-3 mb-3">How to start a blog</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem iure nobis nemo soluta non.
                        Incidunt impedit eveniet vero similique, exercitationem inventore omnis saepe quibusdam, modi
                        ipsum maxime in iure. Aut.
                        Nostrum aliquid, sequi totam tenetur architecto fuga soluta, vero numquam quas, placeat dolore
                        itaque quidem earum odit id magni consequuntur a non pariatur incidunt in. Consequatur dolore
                        corporis minus repudiandae.
                        Officiis optio ut veniam ullam beatae cum, expedita distinctio ipsa magni quaerat rerum dolorum
                        molestias tenetur iste aut, minus sequi iure quam. Harum maiores ipsam iure laborum rerum
                        reprehenderit expedita!
                        Quo cupiditate veritatis fuga minus consequuntur, dolor quaerat vero ea illum tempora
                        repellendus libero corrupti. Unde cum itaque enim excepturi. Reiciendis excepturi enim culpa
                        sunt consequatur mollitia perferendis dolor! Hic.
                        Qui, animi earum eveniet vel doloremque, autem molestias fugit ipsa sit maiores atque tempore ad
                        vero in nesciunt tenetur quia eum repudiandae porro odit quo itaque. Provident voluptatibus ipsa
                        ea.
                        Quisquam officiis inventore quos veritatis vitae fugit placeat quaerat enim ipsam dolor animi
                        recusandae odit illo repellat, quas earum exercitationem mollitia vel et, quia nostrum! Esse
                        eveniet cum nam? Perferendis.
                        Optio mollitia error sed. Consequuntur ullam pariatur a, ad ducimus vero nisi adipisci ipsum
                        eius ex dolorem, debitis cum, nam unde maxime commodi quis veniam reprehenderit accusamus
                        molestiae enim. Voluptatum?
                        Nisi quidem voluptas, deserunt, odio assumenda molestiae tenetur molestias esse delectus quod
                        maiores sunt. Placeat sapiente hic porro quae facere dolorum voluptatem, officia aut at
                        recusandae suscipit, odit vitae mollitia!
                        Impedit ut, quos soluta voluptates exercitationem deserunt iste possimus nostrum, vel iure
                        corrupti placeat saepe quod. Ipsam quod quo quos, inventore consequuntur, earum sequi deleniti
                        maxime ea hic, culpa dolore?
                        Corporis, harum labore, repellat quam at molestiae quas, dolores deleniti minima amet quidem est
                        laudantium blanditiis. Facere, sit, unde ipsa minus totam eveniet omnis voluptatibus ducimus
                        corporis facilis commodi praesentium.</p>
                </div>
            </article>

            <div class="mb-4"><app-comment-form></app-comment-form></div>
            <div class="mb-4"><app-comment-list></app-comment-list></div>
        </div>

        <div class="col-md-3">
            <aside class="mb-4"><app-post-card></app-post-card></aside>
            <aside class="mt-4 mb-4"><app-post-card></app-post-card></aside>
            <aside class="mt-4 mb-4"><app-post-card></app-post-card></aside>
            <aside class="mt-4 mb-4"><app-post-card></app-post-card></aside>
            <aside class="mt-4 mb-4"><app-post-card></app-post-card></aside>
        </div>
    </div>
</section>