<section class="card mt-5 shadow-effects">
    <div class="card-body">
        <h4>Leave a comment</h4>
        <p class="text-success">You can leave a comment using this comment form</p>

        <form action="">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control shadow-effects " placeholder="Enter your name...">
            </div>

            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea cols="30" rows="5" class="form-control shadow-effects " placeholder="Add your comment..."></textarea>
            </div>

            <button class="btn btn-info mt-3 mb-3 bg-theme">Add a comment</button>
        </form>
    </div>
</section>
