<div class="card shadow-effects">
    <img src="https://images.pexels.com/photos/1509534/pexels-photo-1509534.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="post" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-primary text-center ms-3">Feature</small>
        <small class="bg-light text-primary text-center ms-3">Views - 100,256</small>
        <h5 class="mt-1">How to start a blog</h5>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Cupiditate sit et accusantium ad quae facere vitae placeat ducimus ratione temporibus, asperiores voluptas molestiae rem inventore molestias esse, magni natus eos!</p>
        <small class="bg-light text-warning text-center">Last Upadated - sep 20, 2023</small>
    </div>
</div>
